body{
    font-family: "Fira Sans", sans-serif;

}
h1{
    font-size: 45px;
}
.name-higlight{
    color: orange;
}
.half-width{
    width: 30%;
    float: left;
    padding-left: 3%;
    margin-left: 2%;

}
.half-width img{
    width: 100%;
    margin-left: 70%;
}
